html {
  overflow: hidden !important;
}

body {
  margin: 0;
  background-color: #1a1a1a;
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.overflow-dots {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}