@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap');

html {
  --clr-bg: #f1f2f4;
  --clr-bg-light: white;
  --clr-fg: #121416d8;
  --clr-fg-light: #838383;
  --clr-fg-invert: white;
  --clr-accent: #008190;
  --clr-accent-light: #d6e1e5;
}

html[data-theme='dark'] {
  --clr-bg: #212a2e;
  --clr-fg: #F7F8F8;
}

html {
  overflow: hidden !important;
}

body {
  margin: 0;
  background-color: var(--clr-bg);
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

.overflow-dots {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}