@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap');

body.light {
  --clr-bg: #f1f2f4;
  --clr-bg-light: white;
  --clr-bg-dark: #bababa;

  --clr-fg: #121416d8;
  --clr-fg-light: #838383;
  --clr-fg-invert: white;

  --clr-accent: #008190;
  --clr-accent-light: #d6e1e5;

  --clr-shadow-light: #ccc;
}

body.dark {
  --clr-bg: #212a2e;
  --clr-bg-light: #252c2f;
  --clr-bg-dark: #161a1c;

  --clr-fg: #636363;
  --clr-fg-light: #777777;
  --clr-fg-invert: white;

  --clr-accent: #008190;
  --clr-accent-light: #b2cbd5;

  --clr-shadow-light: #5d5d5d;
}

:is(a, button).app-btn {
  --clr: var(--clr-accent);
  padding-block: 0.375em;
  padding-inline: 2.5em;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid var(--clr);
  background-color: var(--clr);
  color: var(--clr-fg-invert);
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    --clr: lightgray;
    cursor: default;
  }

  &:not(:disabled) {
    --button-press-size: 2px;
    box-shadow: 0 var(--button-press-size) 1px 0 var(--clr-shadow-light);
    transition: translate 50ms ease;

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
      box-shadow: none;
      translate: 0 var(--button-press-size);
    }
  }

}

html {
  overflow: hidden !important;
}

body {
  margin: 0;
  background-color: var(--clr-bg);
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

.overflow-dots {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

[class$="page"] {
  overflow-y: auto;
}